{% extends "site_base.html" %}

{% load md2 %}

{% block body %}
    {% for submission in object_list %}
    {% if not forloop.first %}
    <p class="text-center divider"><i class="bi bi-three-dots"></i></p>
    {% endif %}
    <div class="submission">
      <div class="card p-4">
            {% if submission.current_files %}
              <div id="carousel-{{submission.pk}}" class="carousel slide mb-3" data-bs-ride="carousel">
                <div class="carousel-inner rounded">
                  {% for image in submission.current_files %}
                  <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ image.file.url }}" class="d-block w-100"/>
                  </div>
                  {% endfor %}
                </div>
                {% if submission.current_files|length > 1 %}
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{submission.pk}}" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{submission.pk}}" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
                {% endif %}
              </div>
            {% endif %}
            {% if submission.link_set.all %}
            {% for link in submission.link_set.all %}
              <div class="mb-3">
                <div class="card bg-light">
                  {% if link.embed %}
                    <div class="ratio ratio-16x9">
                      {{link.embed|safe}}
                    </div>
                    <div class="card-footer text-muted">
                      {{link.description}}
                    </div>
                  {% else %}
                    <div class="card-body">
                      <i class="bi bi-link-45deg me-1"></i>
                      <a href="{{link.link}}" target="_blank">{{link.description}}</a>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
            {% endif %}
            <div class="text">
              {% if submission.text %}{{ submission.text | markdown }}{% endif %}
              <p class="text-muted fst-italic mt-3 mb-0">— {{submission.name}}</p>
            </div>
      </div>
    </div>
    {% endfor %}
{% endblock %}
