{% extends "site_base.html" %}

{% load static %}
{% load bootstrap %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/dropzone.css' %}" />
{% endblock %}


{% block body %}

{% include "_header.html" %}

<script src="{% static 'js/dropzone.js' %}"></script>
<script>
Dropzone.options.dropzoneFiles = {};
Dropzone.options.dropzoneFiles['maxFilesize'] = 2;
Dropzone.options.dropzoneFiles['acceptedFiles'] = 'image/*';
Dropzone.options.dropzoneFiles['dictDefaultMessage'] = 'Drag & Drop or Click to add Images';
Dropzone.options.dropzoneFiles['dictRemoveFile'] = 'X';
Dropzone.options.dropzoneFiles['addRemoveLinks'] = true;
Dropzone.options.dropzoneFiles['addedfile'] = function(file, div) {
  console.log(this,file);
  this.defaultOptions.addedfile.call(this, file, div);
  if(file.status==Dropzone.SUCCESS) {
    this.defaultOptions.success.call(this, file, div);
  }
};
Dropzone.options.dropzoneFiles['removedfile'] = function(file) {
  $.post(file.removeLink, {});
  file.previewElement.parentNode.removeChild(file.previewElement);
  console.log(file);
  return true;
};
Dropzone.options.dropzoneFiles['success'] = function(file, response) {
  file.removeLink = response.removeLink;
};
Dropzone.options.dropzoneFiles['init'] = function() {
  var file = null;
  {% for file in form.instance.current_files %}
    file = {
      filename: "{{ file.file.name|escapejs }}",
      name: "{{ file.file.name|escapejs }}",
      size: "{{ file.file.size}}",
      type: "image/jpeg",
      removeLink: "{% url 'jfu-delete' pk=file.pk %}",
      status: Dropzone.SUCCESS,
      upload: {progress: 100, bytesSent: {{file.file.size}}, total: {{file.file.size}}},
      accepted: true
    };
    this.options.addedfile.call(this, file);
    this.options.thumbnail.call(this,file, '{{file.file.url}}');
    this.options.complete.call(this,file, file.upload.progress, file.upload.bytesSent);
    this.files.push(file);
  {% endfor %}
}
</script>

<div class="card p-4">
  <h2 class="mb-3">Your Submission</h2>
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags|default:'info' }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
  {% if form.errors %}
    <div class="alert alert-danger">
      <strong>Please fix the following:</strong>
      <ul class="mb-0 mt-2">
      {% for field, errors in form.errors.items %}
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
      {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if form.instance.submitted_at %}
    <div class="alert alert-success">
      <i class="bi bi-check-circle me-2"></i>Your submission has been received. Thank you!
    </div>
  {% else %}
    <p class="text-muted">Upload pictures, add your story, then click Submit when ready.</p>
  {% endif %}
  <hr />
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6">
      <label class="form-label">Pictures <small class="text-muted fw-normal">File size: up to 2MB</small></label>
      <form action="{% url 'jfu-upload' pk=form.instance.pk %}" method="POST" class="dropzone" id="dropzone-files">
        {% csrf_token %}
        <div class="fallback">
          <input name="file" type="file" multiple class="form-control" />
        </div>
      </form>
    </div>
  </div>
  <form method="POST" class="mt-4">
    <div class="row">
      <div class="col-md-6">
        {{form|bootstrap_horizontal}}
        {% csrf_token %}
      </div>
      <div class="col-12 col-md-5 offset-md-1 mt-3 mt-md-0">
        <label class="form-label">Links &amp; Videos</label>
        {% for links_formset in inlines %}
          {{links_formset.management_form}}
          {% for inline in links_formset %}
            <div class="mb-2">
              {{inline|bootstrap}}
            </div>
          {% endfor %}
        {% endfor %}
        <p class="small text-muted mt-2">Vimeo and Youtube links will be embedded, like pictures</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="text-center">
        {% if not form.instance.submitted_at %}
        <input type="submit" class="btn btn-outline-secondary me-2" name="save" value="Save Draft"/>
        <input type="submit" class="btn btn-success" name="send" value="Submit"/>
        {% endif %}
      </div>
    </div>
  </form>
  {% if not form.instance.submitted_at %}
  <hr class="mt-4"/>
  <div class="text-center">
    <a href="{% url 'submission-delete' pk=form.instance.pk %}" class="btn btn-outline-danger btn-sm"
       onclick="return confirm('Are you sure you want to delete this draft?');">
      <i class="bi bi-trash me-1"></i>Delete Draft
    </a>
  </div>
  {% endif %}
</div>
{% endblock %}
